/bc.vhd.bak
/bo.vhd.bak
/bo_wav.vwf
/comp8bit.vhd.bak
/concatenador.vhd.bak
/concatenador_wav.vwf
/db
/demultiplexador.vhd.bak
/incremental_db
/maquina_de_refrigerante.qpf
/maquina_de_refrigerante.qsf
/maquina_de_refrigerante.vhd.bak
/Mux.vhd.bak
/mux_wav.vwf
/output_files
/registrador_8.vhd.bak
/registrador_8_bits.vhd.bak
/simulation
/somador_wav.vwf
/wave.vwf
/Waveform.vwf
/Waveform1.vwf
/Waveform2.vwf
/Waveform3.vwf